.navbar{
    text-align: left;

    a {
        color: #636060;
    }

    &-link {
        display: inline-block;
        height: 50px;
        border: solid 2px #cdcfd1;
        border-width: 0 2px 0 0;
        padding: 0 16px;
        vertical-align: top;

        &-text {
            margin-top: 10px;
            font-weight: 400;
            font-size: 22px;
        }
    }

    &-enable {
        background-color: #F6F7F8;
    }
}