/* color */
$color-primary-light: #7ed56f;
$color-primary: #3f6938;
$color-primary-dark: #001b00;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

/* font */
$default-font-size: 16px;

/* grid */
$grid-width: 1140px;
$gutter-vertical: 80px;
$gutter-vertical-small: 60px;
$gutter-horizontal: 60px;

.bgcolor-red { background-color: red }
.bgcolor-yellow { background-color: #facc00 }
.bgcolor-green {background-color: #06c200 }