.home {
    position: relative;
    background-color: $color-white;
    border-radius: 4px;
    border: 2px solid #8B8C8F;
    margin: 50px auto;
    max-width: 1200px;
    width: 90%;
    overflow: hidden;
    box-shadow: 4px 4px 6px rgba($color-black, .2);
    @include respond(phone) {
        margin: 20px auto;
    }
}

.heading {
    background-color: #F6F7F8;
    border-radius: 4px;
    position: relative;
    height: 50px;
    text-align: left;

    &-btnBox {
        display: inline-block;
        height: 100%;
        width: 100px;
        text-align: center;

        &-dot {
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 100%;
            margin: 18px 6px;
        }
    }
    &-titleBox {
        background-color: white;
        display: inline-block;
        box-sizing: border-box;
        height: 30px;
        width: calc(100% - 120px);
        border: solid 2px #DBDDED;
        border-radius: 4px;
        vertical-align: top;
        margin-top: 10px;
        padding: 3px 10px;
        color: #B4B6B7;
    }
}

.section-navbar {
    background-color: #EBEDF0;
    border: solid 2px #8B8C8F;
    border-width: 2px 0 2px 0; 
    height: 50px;
}

.footer {
    border-top: solid 2px #cdcfd1;
    background-color: #F6F7F8;
    position: relative;
    height: 50px;
    text-align: left;
}

.link-group {

    &-icon {
        width: 40px;
        height: 40px;
        margin: 4px auto 4px 10px;
    }
}