.works {
    animation: fadein .6s;

    &-block {
        box-sizing: border-box;
        width: calc(100% - 24px);
        min-height: 300px;
        margin: 10px 10px 15px 10px;
        border: solid 2px;
        padding: 20px;
        text-align: left;
        @include respond(tab-port) {
            text-align: center;
        }

        &-row {
            display: inline-block;
            width: calc(100% - 24px);
            min-height: 200px;
            margin: 0 10px 15px 10px;
            transition: all .2s;
        }

        &-article {
            display: inline-block;
            width: calc(80% - 200px);
            vertical-align: top;
            margin: 40px 10px 15px 10px;
            text-align: left;
            
            li {
                margin: 6px 0 0 25px;
            }

            @include respond(tab-port) {
                width: calc(100% - 20px);
            }
        }

        &-box {
            display: inline-block;
            width: 300px;
            height: 200px;
            margin: 40px 10px 15px 10px;
            border: solid 2px black;
            transition: all .2s;
        }

        &-box:hover{
            filter: brightness(90%);
        }
    }
}